<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>Servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/Servlet.MyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>Servlet.Display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Servlet.Display</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdSave</servlet-name>
        <servlet-class>Servlet.AdSave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdSave</servlet-name>
        <url-pattern>/Servlet.AdSave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClickUpdate</servlet-name>
        <servlet-class>Servlet.ClickUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClickUpdate</servlet-name>
        <url-pattern>/Servlet.ClickUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>Servlet.Config</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/Servlet.Config</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigUpdate</servlet-name>
        <servlet-class>Servlet.ConfigUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigUpdate</servlet-name>
        <url-pattern>/Servlet.ConfigUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigDelete</servlet-name>
        <servlet-class>Servlet.ConfigDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigDelete</servlet-name>
        <url-pattern>/Servlet.ConfigDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MetaDisplay</servlet-name>
        <servlet-class>Servlet.MetaDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetaDisplay</servlet-name>
        <url-pattern>/Servlet.MetaDisplay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>json</servlet-name>
        <servlet-class>json</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>json</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>showResult.jsp</welcome-file>
        <welcome-file>metaIndex.jsp</welcome-file>
    </welcome-file-list>
</web-app>